body{
    padding:10px;
}
.container{
    
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 80px 60px 500px 200px;
    
}
.header{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:1;
    grid-row-end:2;
    background-color: black;
    color:aliceblue;
    border:2px solid white;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.subheader{
    border:2px solid white;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:2;
    grid-row-end:3;
    background-color: black;
    color:aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
*{
    margin:0;
    padding:0;
}
img{
    width:100%;
    height:80%
}

div .child11{
    background-color: transparent;
    height:175px;
    width:175px;
    
    
}
div .child12{
    background-color: transparent;
    height:175px;
    width:175px;
    
    
    
}
div .child13{
    background-color: transparent;
    height:150px;
    width:150px;
    
    
}
div .child14{
    background-color: transparent;
    height:150px;
    width:150px;
    
}
.card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
    
}
.child1{
    padding:20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    
}
.child2{
    background-color: yellow;

}
.child3{
    background-color: black;
}
.child4{
    background-color: aqua;
}
.footer{
    grid-column-start: 1;
    grid-column-end: 5;
    
    background-color: hotpink;
    color:white;
    border:2px solid white;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}